@import "../../styles/variables";

.rangeSlider {
  position: relative;

  &Min {
    position: absolute;
    left: 0;
    top: 0;
    color: $gray;
  }

  &Max {
    position: absolute;
    right: 0;
    top: 0;
    color: $gray;
  }

  &Title {
    color: $gray;
  }
}
