@import "../../styles/variables";

.title {
  font-weight: 500;
  text-transform: uppercase;
  color: $gray;
  padding: $spacer $spacer 0rem;
  margin-bottom: 0 !important;
  letter-spacing: 0.035rem;
  font-size: 1.1rem;
}
