@import "../../styles/variables";

.currencySwitchContainer {
  display: flex;
  align-items: center;
}

.currencySwitch {
  display: flex;
  padding: 0;
  list-style: none;
  margin: 0;
}

.currencySwitchItem {
  cursor: pointer;
  border: solid 1px $primary;
  border-left: none;
  padding: 0.5rem 1rem;
  text-align: center;
  font-size: 0.9rem;
  font-weight: 400;

  &:first-child {
    border-radius: $border-radius 0 0 $border-radius;
    border-left: solid 1px $primary;
  }

  &:last-child {
    border-radius: 0 $border-radius $border-radius 0;
  }

  &:hover {
    background-color: $link-hover-color !important;
    color: $dark;
  }

  &Active {
    background-color: $link-hover-color !important;
    color: $dark;
  }
}

.currencySwitchLabel {
  padding-right: 0.5rem;
  color: $gray;
  font-size: 0.8rem;
}
