@import "variables";

@font-face {
  font-family: Urbanist;
  src: url(../fonts/Urbanist/Urbanist-VariableFont_wght.ttf);
  font-weight: 1 999;
}

html,
body {
  letter-spacing: 0.015rem;
  font-weight: 300;
  font-family: Urbanist, sans-serif;
}

a {
  text-decoration: none;

  &:hover {
    text-decoration: underline;
  }
}

hr {
  margin: $hr-margin-y auto;
  width: 50%;
}

.link {
  color: $link-color;
  text-decoration: none;
  cursor: pointer;

  &:hover {
    color: $link-hover-color;
    text-decoration: underline;
  }
}

.tab-content {
  background-color: $nav-tabs-link-active-bg;
  border-radius: 0 0.25rem 0.25rem 0.25rem;
  padding: 0;
}

.nav-tabs .nav-item {
  cursor: pointer;
}

.mb-6 {
  margin-bottom: ($spacer * 4) !important;
}

button {
  a {
    color: white !important;
  }
}

._loading_overlay_overlay {
  background: rgba(6, 8, 24, 0.8);
}

.gray {
  color: $gray;
}

.white {
  color: $white;
}

.text-big {
  font-size: $big-text;
}

.text-small {
  font-size: $small-text;
  font-weight: 400 !important;
}

.text-xsmall {
  font-size: 0.7rem;
}

.bold {
  font-weight: 600;
}

.section-title {
  font-size: $small-text;
  color: $gray;
  text-transform: uppercase;
  font-weight: 500;
}

.subtitle {
  font-weight: 500;
  text-transform: uppercase;
  color: $gray;
  letter-spacing: 0.035rem;
  font-size: 1.1rem;
}

.ml-4 {
  margin-left: ($spacer) !important;
}

.mr-4 {
  margin-right: ($spacer) !important;
}

.mt-8 {
  margin-top: 3rem !important;
}

.blockie {
  padding-top: 0 !important;
  padding-bottom: 0 !important;
  width: 2rem;

  img {
    border-radius: 50% !important;
    color: $white;
    height: 2rem;
  }
}

.text-transform-none {
  text-transform: none !important;
}
