@import "../../styles/variables";
@import "../../styles/mixins";

.title {
  text-align: center;
  margin: 0 auto 2rem;
  width: 30%;
  border-bottom: solid 1px $primary;
  text-transform: uppercase;

  &Tag {
    display: inline-block !important;
    font-size: 1.5rem;
  }

  @include media-breakpoint-down(md) {
    width: 70%;
  }

  @include media-breakpoint-down(xs) {
    width: 100%;
  }
}
